{
  "openapi": "3.1.0",
  "info": {
    "title": "Dirt IQ API",
    "description": "Odds compilation and risk modeling API for dirt track motorsports. Generates opening lines, real-time odds adjustments, and sharp money signals for sportsbook operators.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dirtiq.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/odds": {
      "get": {
        "summary": "List odds",
        "description": "Returns current odds objects for events in your licensed series. Filter by series, event, market, or status.",
        "operationId": "listOdds",
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "description": "Filter by a specific event ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "description": "Filter by series (e.g. lucas_oil_late_models, world_of_outlaws_sts)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filter by market type (feature_winner, top_3_finish, top_5_finish, head_to_head)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line_status",
            "in": "query",
            "description": "Filter by line status: open, suspended, settled",
            "schema": {
              "type": "string",
              "enum": ["open", "suspended", "settled"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor — pass next_cursor from the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of odds objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OddsObject"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Request odds",
        "description": "Triggers on-demand odds generation for a specific event and market. Returns the full odds object immediately. Useful for previewing lines before an entry list is finalized or for unlicensed test events.",
        "operationId": "createOdds",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OddsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Odds successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OddsObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/odds/{id}": {
      "delete": {
        "summary": "Delete odds snapshot",
        "description": "Permanently removes a stored odds snapshot by ID.",
        "operationId": "deleteOdds",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique odds object ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Odds snapshot deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Odds object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/webhooks/race-update": {
      "post": {
        "summary": "Odds and risk events",
        "description": "Sent when odds are updated, suspended, or settled, and when sharp money alerts are triggered. Register your endpoint via POST /webhooks.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 200 to acknowledge receipt. Any other response triggers a retry with exponential backoff."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OddsObject": {
        "type": "object",
        "required": ["id", "event_id", "market", "line_status", "generated_at", "drivers"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique odds object ID"
          },
          "event_id": {
            "type": "string",
            "description": "The event this odds object applies to"
          },
          "series": {
            "type": "string",
            "description": "Racing series (e.g. lucas_oil_late_models)"
          },
          "market": {
            "type": "string",
            "description": "Market type: feature_winner, top_3_finish, top_5_finish, head_to_head"
          },
          "line_status": {
            "type": "string",
            "description": "Current status: open, suspended, settled",
            "enum": ["open", "suspended", "settled"]
          },
          "model_version": {
            "type": "string",
            "description": "Model version used to generate these odds (e.g. 2024-08)"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the most recent calculation"
          },
          "track_condition_score": {
            "type": "number",
            "format": "float",
            "description": "Track condition score at time of calculation (0=slick, 100=heavy moisture)"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Overall model confidence (0–1)"
          },
          "overround": {
            "type": "number",
            "format": "float",
            "description": "Total book margin (e.g. 1.11 = 11% overround)"
          },
          "drivers": {
            "type": "array",
            "description": "Per-driver odds, ranked by implied probability (highest first)",
            "items": {
              "$ref": "#/components/schemas/DriverOdds"
            }
          }
        }
      },
      "DriverOdds": {
        "type": "object",
        "required": ["driver_id", "name", "implied_probability", "american_odds"],
        "properties": {
          "driver_id": {
            "type": "string",
            "description": "Unique driver identifier"
          },
          "name": {
            "type": "string",
            "description": "Driver full name"
          },
          "car_number": {
            "type": "string",
            "description": "Car number for the event"
          },
          "implied_probability": {
            "type": "number",
            "format": "float",
            "description": "Model probability after overround is applied (0–1)"
          },
          "american_odds": {
            "type": "integer",
            "description": "American moneyline odds (e.g. -165, +350)"
          },
          "decimal_odds": {
            "type": "number",
            "format": "float",
            "description": "Decimal odds (e.g. 1.61)"
          },
          "fractional_odds": {
            "type": "string",
            "description": "Fractional odds string (e.g. 61/100)"
          },
          "model_edge": {
            "type": "number",
            "format": "float",
            "description": "Difference between model probability and market line. Positive = underpriced by model."
          },
          "form_score": {
            "type": "number",
            "format": "float",
            "description": "Rolling 30-day performance rating (0–100)"
          },
          "track_affinity": {
            "type": "number",
            "format": "float",
            "description": "Historical performance score at this track (0–100)"
          }
        }
      },
      "OddsRequest": {
        "type": "object",
        "required": ["event_id", "market"],
        "properties": {
          "event_id": {
            "type": "string",
            "description": "The event ID to generate odds for"
          },
          "market": {
            "type": "string",
            "description": "Market type: feature_winner, top_3_finish, top_5_finish, head_to_head",
            "default": "feature_winner"
          },
          "overround": {
            "type": "number",
            "format": "float",
            "description": "Overround margin override (e.g. 0.12 for 12%). Uses account default if omitted."
          },
          "track_condition_override": {
            "type": "number",
            "format": "float",
            "description": "Manual track condition score override (0–100). Replaces computed score for this request."
          },
          "include_heat_race_data": {
            "type": "boolean",
            "description": "Whether to factor in available heat race results. Defaults to true.",
            "default": true
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "required": ["id", "type", "timestamp"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook event ID"
          },
          "type": {
            "type": "string",
            "description": "Event type: odds.updated, odds.published, odds.suspended, event.settled, sharp_alert.triggered"
          },
          "trigger": {
            "type": "string",
            "description": "What triggered the event: heat_results, qualifying, scratch, weather_change, manual"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the event was fired"
          },
          "event_id": {
            "type": "string",
            "description": "The race event this webhook is for"
          },
          "odds": {
            "$ref": "#/components/schemas/OddsObject",
            "description": "Updated odds object. Present when type is odds.updated or odds.published."
          },
          "sharp_alert": {
            "$ref": "#/components/schemas/SharpAlert",
            "description": "Sharp money alert detail. Present when type is sharp_alert.triggered."
          }
        }
      },
      "SharpAlert": {
        "type": "object",
        "properties": {
          "driver_id": {
            "type": "string",
            "description": "Driver flagged by the sharp detection algorithm"
          },
          "driver_name": {
            "type": "string"
          },
          "alert_level": {
            "type": "string",
            "description": "Severity: low, medium, high",
            "enum": ["low", "medium", "high"]
          },
          "deviation_score": {
            "type": "number",
            "format": "float",
            "description": "Standard deviations between book position and model probability"
          },
          "model_implied_probability": {
            "type": "number",
            "format": "float"
          },
          "book_implied_probability": {
            "type": "number",
            "format": "float"
          },
          "message": {
            "type": "string",
            "description": "Human-readable summary for the trading desk"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "description": "Pass as after parameter in the next request"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
